$background-light: #f0f0f5;
$background-midle: #dcdce3;
$background-dark: #283040;

$text-light: #f0f0f0;
$text-main: #dae3f0;
$text-soft: #d3d4db;
$text-midle: #6b6d85;
$text-dark: #21222b;

$all-font: Impact, fantasy;
