*{
    margin: 0;
    padding: 0;
}
.full_website_page{
    height: 100vh;
    overflow: hidden;
}
.full_website_page .page{
    height: 100vh;
}
.form_of__logo{
    width: 280px; height: 110px;
    background: url('../img/logo.png');
    font-size:50px;
    margin-left: 30px;
    margin-bottom:40px ;
}
.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url(../img/fone.png);
    background-size: cover;
    background-position: center;
    background-color: #00e8ed;
}
.header h2{
    font-family: 'Catamaran-Medium', sans-serif;
    text-align: center;
    color: #333333;
    letter-spacing: 0.31em;
}
.form > div {
  display: none;
}
.form {
    width: 395px;
    box-shadow: 0 6px 6px 1px rgba(44, 43, 45, 0.7);
    background-color: #333333;
    opacity: 0.9;
  }
  .form > input {
    display: none;
  }
  #join_button:checked ~ #join_inputs,
  #sign_button:checked ~ #sign_inputs {
    display: flex;
    flex-direction: column;
  }
  .form > input:checked + label {
    color: #ffffff;
    background: #333333;
    width: 80px;
  }

#light_switcher:checked {
    background: green !important;
    color: red !important;
}

  .in_join, .in_sign {
    display: flex;
    flex-direction: column;
    color: white;
    height: 360px;
    padding: 15px;
  }
  .in_sign{
    justify-content: space-evenly;
  }

    .input {
      background-color: #ffffff;
      width: 345px;
      height: 40px;
      margin-bottom: 15px;
      padding-left: 10px;
      color: #333333;
      font-family: "Catamaran", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 1.8px;
    }

    .label_text {
      display: block;
      color: #ffffff;
      font-family: "Catamaran-Lite", sans-serif;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1.6px;
      height: 40px;
      margin: 0 30px 8px 0;
    }
  .button {
    padding: 11px 61px 11px 62.8px;
    font-family: "Catamaran-Medium", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1.8px;
    border: 0px;
    color: #333333;
    background-color: #ffffff;
    opacity: 0.7;
    display: inline-flex;
    cursor: pointer;
    margin-bottom: 8px;
  }


  .but_registration {
    background-color: #ff6600;
    height: 40px;
    width: 100%;
    color: #333333;
    font-family: "Catamaran-Black", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
    border: 0px;
    margin-bottom: 20px;
    cursor: pointer;
  }
.second_page{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sec_pag_content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sec_pag_content h2{
    color:#00a8b2;
    font-size: 30pt;
    font-family: 'Catamaran-Black', sans-serif;
    text-align: center;
}

.functionality{
    width: 90%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.description{
    width:210px;
    text-align: center;
    font-family: 'Catamaran-Lite', sans-serif;
    font-size: 16pt;


}

.sec_pag_content p{
    display: block;
    font-size: 16pt;
    width:68%;
    margin-bottom: 40px;
    font-family: 'Catamaran-Lite', sans-serif;}



.translate{
    margin-left: auto;
    margin-right: auto;
    width: 77px;
    height: 77px;
    background: url('../img/item_content.png') -10px -10px;
}

.share{
    margin-left: auto;
    margin-right: auto;
    width: 77px;
    height: 77px;
    background: url('../img/item_content.png') -107px -107px;
}
.create{
    margin-left: auto;
    margin-right: auto;
    width: 77px;
    height: 77px;
    background: url('../img/item_content.png') -107px -10px;
}
.func_item h3{
    font-family: 'Catamaran-Black', sans-serif;
    color:#00a8b2;
    letter-spacing: 0.1em;
}

.start{
    margin-left: auto;
    margin-right: auto;
    width: 77px;
    height: 77px;
    background: url('../img/item_content.png') -10px -107px;
}


.foot_page{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:#333333;
}

.foot_logo{

    width: 160px; height: 65px;
    background: url('../img/logo_blind.png');
    margin-left: 40px;
}
.form_connect{
    margin-right: 40px;
}
.contact {
    width: 243px;
    text-align: center;
    color: #ffffff;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1.6px;
    position: relative;
    right: 50px;
  }

  .connect:before{

    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.3rem);
  }
  @font-face {
    font-family: "Catamaran";
    src: url("../fonts/Catamaran-Regular.ttf");
  }

  @font-face {
    font-family: "Catamaran-Medium";
    src: url("../fonts/Catamaran-Medium.ttf");
  }

  @font-face {
    font-family: "Catamaran-Black";
    src: url("../fonts/Catamaran-Black.ttf");
  }

  @font-face {
    font-family: "Catamaran-Lite";
    src: url("../fonts/Catamaran-Light.ttf");
  }

  @media screen and (max-width: 380px){
	.header{
        flex-direction: column;
        justify-content:space-between;
        width: 375px;
    }
    .form_of__logo{
        margin: auto;

    }
    .second_page{
        justify-content:space-between;
    }
    .sec_pag_content p{
        margin-bottom: 0;
        text-align: center;

    }

    .functionality{
        width: 375px;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 30px;
    }

    .description{
        width: 170px;
        font-size: 9pt;
    }

    .foot_page{
        flex-direction: column;
        justify-content: space-around;
    }
    .foot_logo{
        margin-left: 0;

    }
    .form_connect{
        margin-right: 0;
    }
}
.switch input {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.switch {
  width: 180px;
  height: 55px;
  position: relative;
  margin: 100px auto;
}

.switch label {
  display: block;
  width: 80%;
  height: 100%;
  position: relative;
  background: #1F2736; /*#121823*/
  background: linear-gradient(#121823, #161d2b);
  border-radius: 30px 30px 30px 30px;
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.switch input ~ label i {
  display: block;
  height: 51px;
  width: 51px;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;
  border-radius: inherit;
  background: #283446; /* Fallback */
  background: linear-gradient(#36455b, #283446);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),  0 0 8px rgba(0,0,0,0.3),  0 12px 12px rgba(0,0,0,0.4);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.switch label + span {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 17px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: #283446;
  background: gradient-gradient(#36455b, #283446);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.2),  0 1px 0 rgba(255,255,255,0.1),  0 0 10px rgba(185,231,253,0),  inset 0 0 8px rgba(0,0,0,0.9),  inset 0 -2px 5px rgba(0,0,0,0.3),  inset 0 -5px 5px rgba(0,0,0,0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
}

/* Toggle */

.switch input:checked ~ label + span {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
  background: #b9f3fe;
  background: gradient-gradient(#ffffff, #77a1b9);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),  0 1px 0 rgba(255,255,255,0.1),  0 0 10px rgba(100,231,253,1),  inset 0 0 8px rgba( 61,157,247,0.8),  inset 0 -2px 5px rgba(185,231,253,0.3),  inset 0 -3px 8px rgba(185,231,253,0.5);
}

.switch input:checked ~ label i {
  left: auto;
  left: 63%;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),  0 0 8px rgba(0,0,0,0.3),  0 8px 8px rgba(0,0,0,0.3),  inset -1px 0 1px #b9f3fe;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
  .connect:after {
    position: relative;
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.3rem);
    left: 160px;
    top:-34px;
  }

  .email{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    left: 50px;
  }
